.webp .imagen-contacto{
background-image: url('../img/contacto.jpg');
}
.imagen-contacto{
    background-image: center center;
    background-size: cover;
    padding: $separacion/2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 4rem;
        background: linear-gradient(to top, white, transparent);
        font-weight: $black;
        color: $azul1;
    }
    p{
        font-size: 2.5rem;
        color: $negro;
        background: linear-gradient(to top, white, transparent);
    }
}
