.footer{
    padding: $separacion/2 0;
    background-color: $azulbajito;
    
    .contendio-footer{
        padding-top: $separacion/2;
    }
    .copy{
        color: $negro;
        text-align: center;
    }
}