.webp .inicio{
    background-image: url(../img/headerFGris.jpg);
}
.header{
    background-color: $gris6;
    padding: 1rem 0 3rem 0;
    &.inicio{
        background-position: center center;
        background-size: cover;
        @include tablet{
            min-height: 50rem;
        }
        .contenido-header{
            @include tablet{
                min-height: 52rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h1{
        text-align: left;
        //background: linear-gradient(to bottom, white, transparent);
        padding: 20px;
        color: $verde1;
        font-weight: $bold;
        line-height: 2;
        max-width: 80rem;
        text-shadow: 
                    -1px -1px 0 #000,  
                     1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
    }
}
.logo{
    height: 10rem;
}
