
.recomendacion{
    background-color: $azulbajito;
    font-size: 2.4rem;
    padding: 2rem;
    color: $negro;
    border-radius: 2rem;
    margin-right: 2rem;
    
    blockquote{
        padding-left: 5rem;
        position: relative;

        &::before{
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -2rem;
        }
    }
    p{
       text-align: right;
       color: $negro;
    }
}
